* {
	font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: lighter;
	letter-spacing: 1px;
	
	 list-style-type: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; 
}

h1 {
	font-size: 36px;
	letter-spacing: 4px;
}
	

.wrapper {
	width: 100%;
	min-height: 100%;
	/* -----Flexbox */
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}
nav{
	position: fixed;
	z-index: 99;
	width: 75px;
	height: 100%;
	background: #39393f;
	/* -----Flexbox */
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	
}

nav ul {
	height: 300px;
	margin-top:30px;
	padding: 0px;
	width: 75px;
	/* -----Flexbox */
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-direction: column;
	flex-direction: column;
	
	align-self:center;
	-webkit-align-self:center;
}
nav li{
	text-align: center;
	/* -----Flexbox */
	-webkit-flex-grow:1;
	flex-grow:1;
}

i {
	color:rgba(210,210,210,0.8);
	font-size: 36px;
}

.on{
	color:rgba(210,210,210,0.3) !important;
}

.main_content {
	padding-left: 75px;
	width: 100%;
	min-height: 100%;
	/* -----Flexbox */
	display: -webkit-flex;
	display: flex;
	
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	align-content: flex-start;
	-webkit-align-content: flex-start;
	
}
.title {
	width: 100%;
	margin: 0px auto auto auto;
	background-color: #c55529;
	}
	
.title h1{
	display: block;
	width: 70%;
	padding: 10px 10px;
	margin: 30px auto 20px auto;
	text-align: center;
	color: white;
	font-weight: 300;
	border-bottom: 1px white solid;
}
.title h2{
	font-size: 24px;
	display: block;
	width: 70%;
	padding: 10px 10px;
	margin: 10px auto 20px auto;
	text-align: center;
	color: white;
	font-weight: 100;
}

.music {
	display: -webkit-flex;
	display: flex;
	/* -----Flexbox */
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 20px 20px;
	-webkit-flex-wrap: wrap;
	-webkit-align-items: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
}

.music h1,
.movies h1{
	display: block;
	width: 100%;
	text-align: center;
	margin: 10px 0px 30px 0px;
}
.reason {
	width: 30%;
	height: 300px;
	margin-bottom: 20px;
	border: 1px black solid;
	/* -----Flexbox */
	display: -webkit-flex;
	-webkit-flex-direction:column;
	display: flex;
	flex-direction:column;
}
.movies {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	padding: 20px 20px;
}
.film {
	display: flex;
	display:-webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	max-width: 1000px;
	justify-content: space-between;
	/* flex-wrap: wrap; */
	/* height: 300px; */
	margin-bottom: 20px;
	align-items: center;
}
.description {
	width: 60%;
	text-align: left;
	padding: 10px;
	display:flex;
	flex-direction:column;
	
}
.description h3{
	font-size: 24px;
	padding: 0px;
	margin: 0px;
}
.description a {
	margin-top: 20px;
	padding: 10px;
	width: 100px;
	background: #39393f;
	text-align: center;
	color: white;
	text-decoration: none;
}

.hidden,
.notrailer {
	display: none
}
.trailer{
	width: 60%;
	position: relative;
}

.footer {
	background-color: #00a0d0;
	padding-bottom: 50px
	}

#footer a >i {
	font-size: 50px;
}

#footer a:hover >i {
	color: white;
}

.alex {
border-radius: 50%;
width: 100px;
margin: 10px;
}
@media screen and (min-width: 600px) {
  span { display: none;
  }
}
@media screen and (max-width: 599.999px) {
  span { display: inline-block;
	  color: rgba(255,255,255,0.80)
  }
  
  .wrapper {
  	min-width: 100%;
  	min-height: 100%;
	/* -----Flexbox */
	flex-wrap:wrap;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	}
   nav{
	
	width: 100%;
	height: 75px;
	background: #39393f;
	border-right: black solid 1px;
	/* -----Flexbox */
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
    }
    
    nav ul {
	height: 75px;
	width: 100%;
	padding: 0px;
	/* -----Flexbox */
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-self:center;
	align-self:center;
	
    }
    
    
    .main_content{
    padding-left: 0px;
     padding-top: 75px;
	min-height: 100%;
	min-width: 100%;
    }
    
    .music {
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	padding: 20px 20px;
}

.reason {
	width: 100%;
	margin-bottom: 20px;
	border: 1px black solid;
	/* margin: auto; */
}
.film {
display: flex;
	display:-webkit-flex;
	-webkit-flex-direction: column;
	flex-direction: column;

}
.description {
	width: 100%;
	}
.trailer{
	width: 100%;
	padding-top: 20px;
}

#footer a >i {
	font-size: 70px;
}

#footer,#music,#movies{
	padding-top: 75px;
}
}